In [1]:
%matplotlib inline
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
weekly_disease_data = pd.read_csv("./raw_data/weekly-infectious-bulletin-cases.csv")

In [9]:
weekly_disease_data.head()

   epi_week                  disease  number_of_cases
0  2012-W01  Acute Viral hepatitis B                0
1  2012-W01  Acute Viral hepatitis C                0
2  2012-W01          Avian Influenza                0
3  2012-W01   Campylobacterenterosis                6
4  2012-W01        Chikungunya Fever                0

In [8]:
diseases = weekly_disease_data['disease'].unique()

### Print the list of diseases available in the data

In [12]:
for i, dis in enumerate(diseases):
    print i+1, dis

1 Acute Viral hepatitis B
2 Acute Viral hepatitis C
3 Avian Influenza
4 Campylobacterenterosis
5 Chikungunya Fever
6 Cholera
7 Dengue Fever
8 Dengue Haemorrhagic Fever
9 Diphtheria
10 Encephalitis
11 Haemophilus influenzae type b
12 Hand, Foot Mouth Disease
13 Legionellosis
14 Malaria
15 Measles
16 Melioidosis
17 Meningococcal Infection
18 Mumps
19 Nipah virus infection
20 Paratyphoid
21 Pertussis
22 Plague
23 Pneumococcal Disease (invasive)
24 Poliomyelitis
25 Rubella
26 Salmonellosis(non-enteric fevers)
27 SARS
28 Typhoid
29 Viral Hepatitis A
30 Viral Hepatitis E
31 Yellow Fever

### Add year and week column to the dataframe

In [29]:
weekly_disease_data['year'] = weekly_disease_data['epi_week'].apply(lambda x: int(x[:4]))

In [31]:
weekly_disease_data['week'] = weekly_disease_data['epi_week'].apply(lambda x: int(x[6:]))

In [32]:
weekly_disease_data.head()

   epi_week                  disease  number_of_cases  year  week
0  2012-W01  Acute Viral hepatitis B                0  2012     1
1  2012-W01  Acute Viral hepatitis C                0  2012     1
2  2012-W01          Avian Influenza                0  2012     1
3  2012-W01   Campylobacterenterosis                6  2012     1
4  2012-W01        Chikungunya Fever                0  2012     1

# Extract out the Malaria data

In [33]:
malaria_data = weekly_disease_data[weekly_disease_data['disease']=='Malaria']

In [34]:
malaria_data.head()

     epi_week  disease  number_of_cases  year  week
13   2012-W01  Malaria                1  2012     1
44   2012-W02  Malaria                2  2012     2
75   2012-W03  Malaria                2  2012     3
106  2012-W04  Malaria                3  2012     4
137  2012-W05  Malaria                1  2012     5

## Extract out the Dengue data

In [35]:
dengue_fever_data = weekly_disease_data[weekly_disease_data['disease']=='Dengue Fever']

In [36]:
dengue_fever_data.head()

     epi_week       disease  number_of_cases  year  week
6    2012-W01  Dengue Fever               74  2012     1
37   2012-W02  Dengue Fever               64  2012     2
68   2012-W03  Dengue Fever               60  2012     3
99   2012-W04  Dengue Fever               50  2012     4
130  2012-W05  Dengue Fever               84  2012     5

In [37]:
dengue_h_fever_data = weekly_disease_data[weekly_disease_data['disease']=='Dengue Haemorrhagic Fever']

In [38]:
dengue_h_fever_data.head()

     epi_week                    disease  number_of_cases  year  week
7    2012-W01  Dengue Haemorrhagic Fever                0  2012     1
38   2012-W02  Dengue Haemorrhagic Fever                2  2012     2
69   2012-W03  Dengue Haemorrhagic Fever                1  2012     3
100  2012-W04  Dengue Haemorrhagic Fever                2  2012     4
131  2012-W05  Dengue Haemorrhagic Fever                1  2012     5

## Plot trends of the disease data - number of cases on weekly basis